# EASIER NAVIAGTION
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# PROGRAMS

# OSX Specific MYSQLD
alias osxmysql='sudo /usr/local/mysql/support-files/mysql.server'

# EDIT HOSTS
alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)

# Detect which `ls` flavor is in use
if ls --color > /dev/null 2>&1; then # GNU `ls`
        colorflag="--color"
else # OS X `ls`
        colorflag="-G"
fi

# LS ALIASES
alias l="ls -l ${colorflag}"
alias la="ls -la ${colorflag}"
alias lsd='ls -l | grep "^d"'

# PHP SERVER
alias phps="php -s localhost:8000"

# GIT
alias g="git"
alias ga="git add"
alias gcm="git commit -m"
alias gpom="git push origin master"
alias gp="git pull"
alias gc="git clone"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# View HTTP traffic
alias sniff="sudo ngrep -d 'en1' -t '^(GET|POST) ' 'tcp and port 80'"
alias httpdump="sudo tcpdump -i en1 -n -s 0 -w - | grep -a -o -E \"Host\: .*|GET \/.*\""

# Be nice
alias please="sudo"

# Compass aliases
alias compw="compass watch"
alias compc="compass compile --force"
